<link href="/css/style.css" rel="stylesheet" type="text/css">
<footer>
<br></br>
  <center>
    <h5><b>2020. This website is for educational purposes only. Made by: Derek Iniguez, Jim Cabrera, Micah Iwata, Natalie Villagomez.</b></h5>
  </center>
</footer>
</body>
</html>