<%- include ("partials/header.ejs") %>
<link href="/css/style.css" rel="stylesheet" type="text/css">

<body class="text-center">
<header>
  <h1 class="jumbotron" class="titleH1">Admin Section</h1>
</header>
  <div class="card">
    <div class="card-body">
  
  <form action="/AddPet">
    <button>Add a new Pet</button>
  </form>
  
  <br>

  <form action="/DisplayPets">
    <button>Update/Delete Pets</button>
  </form>

  <br>
  <!--
  <form action="/addQuote">
    <button>Add a new Quote</button>
  </form>
  
  <br>

  <form action="/displayQuotes">
    <button>Update/Delete Quotes</button>
  </form>

  -->
  </div>
</div>
