<h1 class="titleH1">Frequently Asked Questions</h1>
<%- include("partials/header.ejs") %>
<link href="/css/style.css" rel="stylesheet" type="text/css">


<div class="container">
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What paperwork do I need in order to be eligible for adoption?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <h4>The Adoption Process</h4>
<p>Come fall in love!</p>
<p>
Spend some time with the animal you are considering adopting so you have a sense of their personality. Keep in mind that many animals behave different in our facility than they will in your home. Ask questions of our staff and volunteers!
Once you have decided which pet you like best, complete an Adoption Application.
Meet with an Adoption Counselor to discuss your family’s expectations, abilities, needs, and previous experience. This is your chance to ask questions, explore your decision, and make sure you have chosen the right pet for your household.
Our Adoption Counselors will consider all factors from the perspective of the individual animal’s needs.
Upon approval, you will be asked to complete additional paperwork. The Adoption Counselor will walk you through our Adoption Agreement. All documents and pertinent medical information will be copied for your files. We will also assemble a take-home packet which includes information on feeding your new pet, check that the animals’ microchip is accurate, and prepare them for travel. Finally, you will be asked to provide the adoption fee. Please allow approximately one hour to complete the adoption process.
After a quick snap for our Facebook page (optional, of course!), you’re ready to head home to start enjoying life with your new friend!
</p>
<p>
Additional Requirements
It is strongly recommended that all adults in the household meet an animal before an adoption is completed. Resident dogs must undergo a “meet & greet” with the adoptive dog. The following requirements apply to all adoptions; you must:</p>
<p>
Be at least 21 years of age, or 18 years old with a co-adopter age 21+ years at the same residence.
Provide legal ID showing your current address to verify age.
Understand that VHS reserves the right to deny any adoption for any reason. While it is our goal to find a home for each and every animal in our care, it is also our responsibility to ensure that each animal finds a home that is not only safe and loving, but is right for their particular temperament.</p>
      </div>
    </div>
  </div>
</div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How much will it cost to adopt a pet?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
   Adoption Fees
Cats & Kittens: $100
Dogs & Puppies: $150
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Why adopt when I could buy a new pet?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
 Top reasons to adopt a pet
Because you'll save a life. ...
Because you'll get a great animal. ...
Because it'll cost you less. ...
Because of the bragging rights. ...
Because it's one way to fight puppy mills. ...
Because your home will thank you. ...
Because all pets are good for your health, but adoptees offer an extra boost.
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How can I give up my pet for adoption?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
      Sometimes, our furbuds are not really the best fit for us. Times change, maybe you have gotten a new baby, allergies or even maybe your pet is annoying you. Whatever the case, there is a process which you must follow if you want to put up your pet for adoption. Click on this link to begin the process. 

      [URL that adds pets to database]
      </div>
    </div>
  </div>
  
    <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          What happens if my pet gets sick after adoption?
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
Once you take your pet home, you're responsible for their care and medical bills. However, if a new health problem (not noted at the time of adoption) develops within 14 days after adoption, we can provide up to 30 days of oral or topical medication with a prescription from your veterinarian.
      </div>
    </div>
  </div>


      <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Is the pet still available for adoption?
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
To learn about a specific pet, please contact the shelter or rescue that has listed this pet. Just go to the Pet Profile page (by clicking on the pet’s picture or name) and click the “Adopt Me” or “Contact this Organization” button under the pet’s photo.
      </div>
    </div>
  </div>


    <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          How can I volunteer?
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
The organization may have a contact person or "volunteer coordinator" who can help you get involved at their facility. Visit a shelter's website, and check for any information that is listed for volunteers.

</div>

  <div id="Dog">
  <span style="display:inline;"><img src=""></span>

<br><br>

<a href="Information" id="infoLink">Pet Care Informational Link</a><br><br>

<a href="FAQ" id="faq">Frequently Asked Questions</a><br><br>


<%- include("partials/footer.ejs") %>