<center><h1 class="titleH1">Fun Facts</h1></center>
<%- include("partials/header.ejs") %>
<link href="/css/style.css" rel="stylesheet" type="text/css">

<div class="container">
  <div class="container-tex">
    <h2 class="titleH1"> Lovable Pet Facts </h2>
    <p class="text"> Pets have been such an integral part of our lives for so long, it’s hard to imagine a time before humans got the bright idea to make friends with these furry, four-legged creatures. Cats have been domesticated since at least 3,600 B.C.E. and dogs started becoming pets as far back as 30,000 years ago. But despite being our friends for the past few millenniums or so, there are still new things we learn about our animal friends every day. </p>
  </div>   
   <div class="container-img">
    <img class="img" width=100% length=100% src="https://images2.minutemediacdn.com/image/upload/c_crop,h_706,w_1256,x_0,y_64/f_auto,q_auto,w_1100/v1554995050/shape/mentalfloss/516438-istock-637689912.jpg">
  </div>
</div>

<br>
<div class = "container">
  <h5 id = "catFacts"></h5>
</div>

<%- include("partials/footer.ejs") %>