<center><h1 class="titleH1">How to care for your pets</h1></center>
<%- include("partials/header.ejs") %>
<link href="/css/style.css" rel="stylesheet" type="text/css">

<div class="container">
  <div class="row h-100 justify-content-center align-items-center">

    <div class="col mb-4">
      <div class="card w-50 h-70 border-dark mb-4">
        <img src="img/dal.jpg" class="card-img-top">   
          <div class="card-body">
            <h2 class="card-title">Dog Care</h2>

            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#feeding">Feeding</button>

            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exercise">Exercise</button>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#grooming">Grooming</button>

            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#handling">Handling</button>

            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#fleasTicks">Fleas and Ticks</button>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#housing">Housing</button>

            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#medicalInfo">Medical Information</button>
          

    </div>
  </div>
</div>


<div class="col mb-4">
<div class="card w-50 h-70 border-dark mb-4">
  <img src="img/cat1.jpg" class="card-img-top">  
  <div class="card-body">
    <h2 class="card-title" class="titleH1">Cat Care</h2>

    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#feeding2">Feeding</button>

  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exercise2">Exercise</button>
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#clean">Grooming</button>

  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#handling2">Handling</button>

  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#litter">Litter Box</button>

  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#medicalInfo2">Medical Information</button>
  </div>
  
</div>

        </div>
   </div>
</div>


<!---------- Dog Modal Start!------------>

<div class="container">
  <div class="modal fade" id="feeding" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
             <h4 class="modal-title ">Feeding</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
     
        </div>
        <div class="modal-body">
        
  <img src="https://dogsaholic.com/wp-content/uploads/2015/04/People-food-fo-dogs.jpg" height="300" width="400"></img><br><br>

<h4 class="titleH1">Proper Nutrition</h4>
<p class="text">
Dogs require a healthy, balanced diet just like humans do. 
It is important that whenever you buy dog food in the supermarket, you reserach to make sure it has been <a href="https://www.fatherly.com/gear/best-dry-dog-foods-according-to-a-top-veterinarian/" target="_blank">evaluated by the Association of American Feed Control Officials (AAFCO) first, then check the ingredients list to make sure the food is high in protein and not just made with corn based filler.
</a></p>

<p class="text">
Of course, if you are still unsure, the best option would be to ask you local veterenarian for their reccomendation on dog foods.</p>

<br>
<h4 class="titleH1">Raw or Kibble?</h4>
<p class="text">There has been a recent trend in where pet owners take their furbuds back to their roots and feed them raw, unprocessed meats, eggs and milk. We at Fur Buds do not encourage pet owners to raw feed their dogs as experts have pointed out that raw feeding does carry a risk for pets due to raw meats and eggs containing pathogens. Again, we highly encourage pet owners to check with their veterenarian for more information.</p>

<br>
<h4 class="titleH1">Foods to avoid.</h4>
<p class="text">Everyone knows you are not supposed to feed dogs chocolate, as it can cause stomach pain, vomiting, diarrhea and dehydration. The reason why is due to the presence of caffeine and other stimulants that make it hard for your dog's stomach to metabolize them. <br><br>

Foods like: 
<ol>
<li class="titleh1">Avocadoes</li>
<li class="titleH1">Caffeinated beverages like coffee and tea</li>
<li class="titleH1">Macademia Nuts</li>
<li class="titleH1">Yeast dough</li>
<li class="titleH1">Xylitol</li>
<li class="titleH1">Salt</li>
<li class="titleH1">Grapes and raisins</li>
<li class="titleH1">Milk and Dairy products</li>
<li class="titleH1">Onions, garlic and chives</li>
<li class="titleH1">Apples, apricots, cherries, peaches and plums.</li>
</ol> 

<br><a href="https://www.healthline.com/nutrition/7-foods-fatal-to-dogs" target="_blank">This article</a> by Healthline goes further in depth as to why these foods are bad for your dog. If your dog consumes any of these foods, contact your local veterenarian immediately.</p>

<p></p>


</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="modal fade" id="exercise" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
              <h4 class="modal-title">Exercise</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
    
<img src="https://s3.amazonaws.com/petcentral.com/wp-content/uploads/2017/07/13150908/dog_exercise_hero.jpg" height="300" width="400"></img><br><br>

  <p class="text">Dogs need exercise to burn calories, stimulate their minds, and stay healthy. Individual exercise needs vary based on breed or breed mix, sex, age and level of health.<br><br> 
          
  Exercise also tends to help dogs avoid boredom, which can lead to destructive behaviors. Supervised fun and games will satisfy many of your pet's instinctual urges to dig, herd, chew, retrieve and chase.</p>

</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="modal fade" id="grooming" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" class="titleH1">Grooming</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
      
    <img src="https://dogtime.com/assets/uploads/2017/12/dog-grooming-mistakes-1.jpg" height="300" width="400"></img><br><br>

        <p class="text">Help keep your dog clean and reduce shedding with frequent brushing. Check for fleas and ticks daily during warm weather.<br><br></p>

        <h4 class="titleH1">Brushing</h4>
        <p class="text">In order to brush your dog well, you need to make sure you understand the type of fur coat your bud is sporting. The frequency of brushing varies due to length, the longer the hair, the more frequent the brushing.<br><br>

        <h5 class="titleH1">Long haired breeds</h5>
        <p class="text">Must be brushed frequently, at least once a week. A pin brush is reccomended for this breed since bristles can get down all the way to the skin and the motions won't cause the dog pain.</p>

        <h5 class="titleH1">Short haired breeds</h5>
        <p class="text">These dogs, while not requiring much brushing, still need to be occasionally cleaned of loose hairs. A rubber brush or a grooming glove is reccomended.</p>
        <br><br>
        <h5 class="titleH1"><b>Technique:</b></h5>
        <p class="text"><h5>Brush down and out away from the dog's skin.</h5>Always brush in the direction the coat grows; dogs don’t like to be brushed backwards.<br><br>

        <h5>Be gentle. Take your time.</h5> Brushing too hard while going too fast will hurt your dog. Make sure to untangle any hair knots carefully, to avoid even more entanglement.<br><br>
        
        <h5 class="titleH1">If you encounter mats:</h5> 
        <ol>
        <li>Apply a coat conditioner or mat spray and leave it on for several minutes.</li>
        <li>Use a wide-toothed comb or a mat-splitting tool to get through the tangle. Do so carefully as removing mats can be painful for the dog.</li>
        <li>Use scissors, just take care not to end up cutting your fur bud.</li>
        <li>If you can't remove the mat, this would be a good time to pay your local groomer to remove it for you.</li>
        </ol>
        </p><br><br>
                <iframe width="500" height="300" src="https://www.youtube.com/embed/wI9xARUzo1E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>


        </p>


        <h4 class="titleH1">Bathing</h4>
        <p class="text">Most dogs don't need to be bathed more than a few times a year. Before bathing, comb or cut out all mats from the coat.<br> 
        Carefully rinse all soap out of the coat, or the dirt will stick to soap residue.</p>





</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="modal fade" id="handling" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
              <h4 class="modal-title">Handling</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

  <h5 class="titleH1">To carry a puppy or small dog:</h5>    
  <img src="https://cdn.shopify.com/s/files/1/0316/8657/files/2014-2_how_to_carry_a_little_dog_3_x1366.jpg?1577" height="300" width="400"></img><br><br>

  <p class="text">
  <ul>
  <li>Place one hand under the dog's chest, with either your forearm or other hand supporting the hind legs and rump.</li><br>
  <li>Never attempt to lift or grab your puppy or small dog by the forelegs, tail or back of the neck.</li><br>
  <br><br>
  </p>

 
  <h5 class="titleH1">To carry a large dog:</h5>
  <p class="text">
  <img src="https://www.telegraph.co.uk/content/dam/news/2019/11/12/TELEMMGLPICT000049366864_trans_NvBQzQNjv4BqV3dVgzZ0hKVb8AhxVuOTfX8-Zpwq5zJzOyJCJIZMqrk.jpeg" height="300" width="400"></img>

  <li>Lift from the underside, supporting his chest with one arm and his rear end with the other.</li>
  </ul></p>

</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="modal fade" id="fleasTicks" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header"
        <h4 class="modal-title">Fleas and Ticks</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

 <img src="https://www.fightbugs.com/wp-content/uploads/2017/09/118036_Ticks_090117.png" height= "700" width="600" style="display:block"></img>

 <img src="https://i.pinimg.com/originals/6a/63/96/6a6396ab42a60e2780afc5541ff48f33.jpg" height= "700" width="800" style="display:block"></img><br><br> 
 


  
 <p class="text">Speak to your veterinarian about these and other options.</p>

</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="modal fade" id="housing" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Housing</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
       
<img src="https://www.petmd.com/sites/default/files/styles/article_image/public/dog-kennel-picture-id511105254.jpg?itok=nuJoIQN0" height="300" width="400"></img><br><br>

          <p class="text">Your pet needs a warm, quiet place to rest, away from all drafts and off the floor. A training crate or dog bed is ideal, with a clean blanket or pillow placed inside. Wash the dog's bedding often. If your dog will be spending a lot of time outdoors, be sure she has access to shade and plenty of cool water in hot weather, and a warm, dry, covered shelter when it's cold.</p>

</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="modal fade" id="medicalInfo" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Medical Info</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        
<img src="https://islandlakevetclinic.com/wp-content/uploads/2020/01/Island-Lake-Veterinary-Surgery-Care.jpg" height="300" width="500"></img><br><br>

<p class="text"><h4 class="titleH1">Medicines and Poisons</h4>
Never give your dog medication that has not been prescribed by a veterinarian. If you suspect that your animal has ingested a poisonous substance, call your veterinarian or the ASPCA Animal Poison Control Center for 24-hour animal poison information at (888) 426- 4435.<br><br>

<h4 class="titleH1">Spaying and Neutering</h4>
Female dogs should be spayed and male dogs neutered by six months of age.<br><br>

<h4 class="titleH1">Vaccinations</h4>
Your dog may benefit from receiving a number of vaccinations. Please visit our Pet Vaccinations page to learn more.</p>

</div>

        <div class="modal-footer">
           <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>

<!---------- Dog Modal End! ------------->


<!---------- Cat Modal Start! ----------->

<div class="container">
  <div class="modal fade" id="feeding2" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Feeding</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        
<img src="https://s3.amazonaws.com/petcentral.com/wp-content/uploads/2019/09/11104242/CANS_CatEating_508351141-1-1-940x529.jpg" height="300" width="400"></img><br><br>

<h5 class="titleH1">Regular food</h5>

<p class="text">We recommend purchasing high-quality, brand-name kitten or cat food. Your veterinarian will be able to assess your new cat or kitten and determine the best diet. Factors such as age, activity level and health make a difference in what and how much a cat should eat.

<ul>
<li>Cats require taurine, an essential amino acid, for heart and eye health. The food you choose should be balanced for the life stage of your cat or kitten. Properly balanced foods will contain taurine.</li>
<li>
You will need to provide fresh, clean water at all times, and wash and refill your cat’s water bowls daily.
</li>
<li>Treats should be no more than 5-10% of the diet.</li>
<li>Many people feed baby food to a cat or kitten who is refusing food or not feeling well, Please read labels carefully: If the baby food contains onion or garlic powder, your pet could be poisoned.</li>
</ul>

Take your pet to your veterinarian if signs of anorexia, diarrhea, vomiting or lethargy continue for more than two days.</p>

<h5 class="titleH1">Live Food</h5>
<img src="https://now.tufts.edu/sites/default/files/130708_cat_bird_L.jpg" height="300" width="400"></img>
<p class="text">It's no secret that cats are predators. While they are domesticated their inner, primal instict to hunt is still very present in its dna. Birds, mice, fish, or anything smaller than itselfis not safe from its claws, <a href="https://abcbirds.org/program/cats-indoors/cats-and-birds/#:~:text=Outdoor%20domestic%20cats%20are%20a,extinction%2C%20such%20as%20Piping%20Plover." target="_blank">endangered or no.</a>

When it comes to cats killing and eating mice, most would welcome it as its "doing its job," but it's important to keep in mind that letting your cats eat mice will open a door for parasites like Toxoplasmosis to invade your cat's body. </p>

<p class="text">Here is a <a href="https://www.thesprucepets.com/dangers-of-mice-552522" target="_blank">link</a> to the list of diseases your cat is exposed to when they consume mice.</p>

</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="modal fade" id="exercise2" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Exercise</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

<h5 class="titleH1">Taking for a walk</h5>
  <p class="text">"I'm taking my cat out for a walk." Might seem like just a flimsy excuse for ditching responsibility, but contrary to what some people might believe, you actually CAN take a cat out for a walk. </p>       
<img src="https://media.giphy.com/media/X694ytch8z0di/giphy.gif" height="300" width="400"></img><br><br>

<h5 class="titleH1">Use a leash</h5>
<p class="text">Just like with dogs, you also need to put your cat on a leash but unlike dogs, they need both a harness and a leash. The reason why both are needed is to prevent the cat from just slipping out and running away, a leash will fail where a harness will come through.
You need to let them feel comfortable and go at their own pace. Avoid places with loud noises and other things that could scare your cat.</p><br>

<h5 class="titleH1">Let them take the lead</h5>
Cats are skittish little predators and won't respond well to just being yanked all over the place. Follow their direction where you can and give the occasional tug to prevent them from going places they shouldn't.You need to let them feel comfortable and go at their own pace. Avoid places with loud noises and other things that could scare your cat.<br><br>

<h5 class="titleH1">Prepare your treats.</h5>The easiest way to speed up the process is to just spam them with many treats and praises.Positive reinforcement will make them associate this activity with treats, therefore they will be less reluctant to do it.
<br><br>

<h5 class="titleH1">Invest in a cat tower</h5>
If you have the money, get a cat tower. That way your cat has a designated space where they can play around and stay in shape.<br><br>

<img src="https://i.pinimg.com/originals/aa/ca/13/aaca132d4f802e2656830838f052e3a1.gif" height="300" width="400"></img><br><br>

<h5 class="titleH1">Toys! Lots and Lots of Toys!</h5>
This is probably the most fun aspect of owning a cat. Laser pointers are a must for any cat lover, they provide the owner with the giggles while also getting your cat the exercise they need.
You don't need super expensive gifts to keep cats occupied, any toy will do, even mundane things like ping pong balls will suffice.</p>

</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="modal fade" id="clean" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Grooming</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

<h5 class="titleH1">Brushing</h5> 

<p class="text">For short haired cats, it is necessary to brush once a week. Brush their fur with a metal comb, from head to tail. Then use a rubber brush or bristle to remove dead and loose hair.   

For long haired cats, a daily brush is a must.
Make sure to brush their belly and legs first, untangling any knots along the way. Then, with the bristle or rubber brush, brush in an upward motion.
Finally, in order to brush the tail, you must part it down the middle and brush the fur out on either side.

</p>

<h4 class="titleH1">Bathing</h4>
<img src="https://s3.amazonaws.com/petcentral.com/wp-content/uploads/2019/10/22104844/wet-cat-in-the-bath-picture-id640965974-940x529.jpg" height="300" width="400"></img><br><br>

<p class="text">Most cats stay relatively clean and rarely need a bath, but you should brush or comb your cat regularly. Frequent brushing helps keep your cat's coat clean, reduces the amount of shedding and cuts down on the incidence of hairballs. 

When your cat gets oily or dirty in a way that brushing won't work, you can bathe them.

This is how: 

<ol>
<li class="titleH1">Brush them first, to remove the dead hair and mats.</li>
<li class="titleH1">Make sure to use a mild soap when washing your cat in a tub or sink filled with 3 to 4 inches of lukewarm water.</li>
<li class="titleH1">If you have one, use a spray hose. If you don't use a plastic container. Do NOT splash water directly into their eyes, ears or nose.</li>
<li class="titleH1">Gently message the shampoo, working from head to tail</li>
<li class="titleH1">Rinse your cat, carefully. Remember, avoid the ears, eyes and nose.</li>

<li class="titleH1">Finally, dry your cat with a large towel.</li>
</ol>

</p>

<h5 class="titleH1">Snip snip!</h5>        
<img src="https://catfriendly.com/wp-content/uploads/2016/08/catcare-clippers.jpg" height="300" width="500"></img> 

<p class="text"> When a cat scratches, the old outer nail sheath is pulled off and the sharp, smooth claws underneath are exposed. Cutting your cat’s nails every two to three weeks will keep them relatively blunt and less likely to harm the arms of both humans and furniture. 
</p>

<p class="text">
<ol>
<li class="titleH1">In order to get access to your cat's claws,apply gentle pressure to the top of the foot and the cushiony pad underneath.</li>
<li class="titleH1">Use sharp, high-quality cat nail scissors to cut off the white tip of each nail, just before the point where it begins to curl.</li>

<li class="titleH1">Take care to avoid the quick, a vein that runs into the nail. This pink area can be seen through the nail.</li>
<a href="https://www.chicagotribune.com/resizer/FbllSE1WJog3wtz0GgKMNLgfg68=/415x323/top/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/LQ2ZZ6Q4ABHEFLMC4P6NYR4OQ4.jpg" height="500" width="500"></a>

<li class="titleH1">
If you do accidentally cut into this pink area, it may bleed,in which case you can apply some styptic powder to stop the bleeding.</li>

</ol>

For more tips on cutting cat nails, <a href="http://whiskersandleo.com/tag/cat-nail-trimming/">go here.</a><br><br>

<h5 class="titleH1">Cats need to scratch!</h5>
<img src="https://www.hopkinsmedicine.org/-/media/images/health/1_-conditions/infectious-diseases/catscratchdiseaseherov2.ashx?h=500&la=en&mh=500&mw=1300&w=1297&hash=C54609BCB87EBC2186D37726F502394CA1D55F6F" height="300" width="500"></img><br><br>
Provide your cat with a sturdy scratching post, at least three feet high. The post should also be stable enough that it won't wobble during use, and should be covered with rough material such as sisal, burlap or tree bark. Many cats also like scratching pads.</p>
      

</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="handling2" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Handling</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        
        <div class="embed-responsive embed-responsive-16by9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/OAGfx7eB3gA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br><br>

          <p class="text">To pick up your cat, place one hand behind the front legs and another under the hindquarters. Lift gently. Never pick up a cat by the scruff of the neck or by the front legs.</p>

</div>

        <div class="modal-footer">

          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="litter" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Litter Box</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        
<img src="https://cdn.thewirecutter.com/wp-content/uploads/2020/04/litterbox-lowres-7791-630x420.jpg" height="300" width="400"></img><br><br>

  <p class="text">All indoor cats need a litter box, which should be placed in a quiet, accessible location. In a multi-level home, one box per floor is recommended.
  </p>
  <ul>
  <li class="titleH1">Avoid moving the box unless absolutely necessary, but if you must do so, move the box just a few inches per day.</li>
  
  <li class="titleH1">Keep in mind that cats won't use a messy, smelly litter box, so scoop solid wastes out of the box at least once a day.</li>
  
  <li class="titleH1">Dump everything, wash with a mild detergent and refill at least once a week; you can do this less frequently if using clumping litter.</li>
  
  <li class="titleH1">Don't use ammonia, deodorants or scents, especially lemon, when cleaning the litter box.</li>
  </ul>

  <p class="text">If your cat will not use a litterbox, please consult with your veterinarian. Sometimes refusal to use a litter box is based on a medical condition that required treatment.</p>

</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="modal fade" id="medicalInfo2" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" modalLinks>Medical Info</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        
<img src="https://www.animalmedical.net/blog/wp-content/uploads/2018/08/AnimalMedical_iStock-693433712_super.jpg" height="300" width="500"></img><br><br>

          <p class="text"><h4 class="titleH1">Medicines and Poisons</h4>
Never give your cat medication that has not been prescribed by a veterinarian. If you suspect that your animal has ingested a poisonous substance, call your veterinarian or the ASPCA Animal Poison Control Center for 24-hour animal poison information at (888) 426-4435.<br><br>

<h4 class="titleH1">Spaying and Neutering</h4>
Female cats should be spayed and male cats neutered by five months of age.<br><br>

<h4 class="titleH1">Vaccinations</h4>
Your veterinarian will make recommendations based on your cat's age and health.</p>

</div>

        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" style="border-color: black;"><img src="img/close.png"></img></button>

        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal End-->

<br><br>
<center>
  <a href="Information" id="infoLink">Pet Care Informational Link</a><br><br>
  <a href="FAQ" id="faq">Frequently Asked Questions</a><br><br>
</center>

<%- include("partials/footer.ejs") %> 