
<center>
  <h1 class="titleH1">Learn More</h1>
  <%- include("partials/header.ejs") %>
  <link href="/css/style.css" rel="stylesheet" type="text/css">


  <div class="container"><img src="img/dug.jpg" alt="dug" width="400" height="300" style= "margin-left: 30px"><img src="img/kat2.png" alt="dug" width="400" height="300">
  </div><br>


  <form method="get" action="https://secure.aspca.org/donate/ps-gn-p2?ms=MP_PMK_Googlebrand-T4&initialms=MP_PMK_Googlebrand-T4&pcode=WPSE9XXGOGN2PK00014&lpcode=WPSE9XXGOGN1PK00014&test&ds_rl=1066461&gclid=Cj0KCQiAh4j-BRCsARIsAGeV12DKQMrI71-CiClYPLinpUp2jmhRvwJ06l5nKq6GSOeZXdu_IrOZOpwaAr3nEALw_wcB&gclsrc=aw.ds">
      <button type="submit" class="btn btn-warning">Donate to ASPCA</button>
  </form>

  <a href="Information" id="infoLink">Pet Care Informational Link</a><br><br>

  <a href="FAQ" id="faq">Frequently Asked Questions</a><br><br>


  <h3><b>Other Local Pet Shelters</b></h3>


  <a href="http://coastalpetrescue.org/">Coastal Pet rescue</a><br>

  <a href="https://www.cityofsalinas.org/our-city-services/animal-services/lost-or-adoptable-pets">Salinas Animal Services</a><br>

  <a href="https://www.co.monterey.ca.us/government/departments-a-h/health/monterey-county-animal-services">Monterey County Animal Services</a><br></li>
</center>

<%- include("partials/footer.ejs") %>
