<center><h1 id="missionH1">Our Mission</h1></center>
<%- include("partials/header.ejs") %>
<link href="/css/style.css" rel="stylesheet" type="text/css">

<center>
<div>
  <figure>
    <img id="petsPic" src="img/adoptablePets.jpg" width=700mm height=250mm>
  </figure>
  <br></br>
  <p id="mission">
    Thank you for visiting the <a href="/" id="toHome">Fur Buds Pet Shelter</a> website! We here at Fur Buds are committed to providing the best care for any and all animals that come through our doors. That means nursing any cats and dogs back to health, offering foster care services to the <a href="FAQ" id="toHome">best candidates</a>, and making sure that all of our furry residents leave the shelter for the best forever homes! At Fur Buds, we do our best to help find you the perfect companion no matter your lifestyle! 
  </p>
  <br></br>
</div>

  <h3 id="staff"><b> Meet the Staff!</b></h3>
  <br></br>
  <table>
      <tr id="tr1">
        <td class="td1"><b>Natalie</b></td>
        <td class="td1"><b>Micah</b></td>
        <td class="td1"><b>Jim</b></td>
        <td class="td1"><b>Derek</b></td>
      </tr>

      <tr>
        <td><img src="img/NovaAndHolly.jpg" width=150mm height=150mm></td>
        <td><img src="img/kitten.jpg" width=150mm height=150mm></td>
        <td><img src="img/aurora.jpg" width=150mm height=150mm></td>
        <td><img src="img/puppy.jpg" width=150mm height=150mm></td>
      <tr>
    </table>
  <br></br>
  

</center>

<%- include("partials/footer.ejs") %>